
.icon-fb {
	background-image: url('png/fb.png');
	background-repeat: no-repeat;
}

.icon-group {
	background-image: url('png/group.png');
	background-repeat: no-repeat;
}

.icon-im {
	background-image: url('png/im.png');
	background-repeat: no-repeat;
}

.icon-Logo_bdb {
	background-image: url('png/Logo_bdb.png');
	background-repeat: no-repeat;
}

.icon-menu {
	background-image: url('png/menu.png');
	background-repeat: no-repeat;
}

.icon-minus {
	background-image: url('png/minus.png');
	background-repeat: no-repeat;
}

.icon-plus {
	background-image: url('png/plus.png');
	background-repeat: no-repeat;
}

.icon-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
}

.icon-search2 {
	background-image: url('png/search2.png');
	background-repeat: no-repeat;
}

.icon-tm {
	background-image: url('png/tm.png');
	background-repeat: no-repeat;
}

.icon-vk {
	background-image: url('png/vk.png');
	background-repeat: no-repeat;
}

.icon-add-plus-button {
	background-image: url('png/add-plus-button.png');
	background-repeat: no-repeat;
}

.icon-arrow {
	background-image: url('png/arrow.png');
	background-repeat: no-repeat;
}

.icon-cancel-b {
	background-image: url('png/cancel-b.png');
	background-repeat: no-repeat;
}

.icon-cancel-p {
	background-image: url('png/cancel-p.png');
	background-repeat: no-repeat;
}

.icon-comment {
	background-image: url('png/comment.png');
	background-repeat: no-repeat;
}

.icon-comment2 {
	background-image: url('png/comment2.png');
	background-repeat: no-repeat;
}

.icon-cross {
	background-image: url('png/cross.png');
	background-repeat: no-repeat;
}

.icon-eye {
	background-image: url('png/eye.png');
	background-repeat: no-repeat;
}

.icon-map {
	background-image: url('png/map.png');
	background-repeat: no-repeat;
}

.icon-phone {
	background-image: url('png/phone.png');
	background-repeat: no-repeat;
}

.icon-trash {
	background-image: url('png/trash.png');
	background-repeat: no-repeat;
}


.icon-menu--white {
	background-image: url('png/icon-menu--white.png');
	background-repeat: no-repeat;
}

.icon-search--white {
	background-image: url('png/icon-search--white.png');
	background-repeat: no-repeat;
}

.icon-home {
	background-image: url('png/home.png');
	background-repeat: no-repeat;
}

.icon-user {
	background-image: url('png/user.png');
	background-repeat: no-repeat;
}


.icon-arrow-down-sign-to-navigate {
	background-image: url('png/arrow-down-sign-to-navigate.png');
	background-repeat: no-repeat;
}

.icon-icon {
	background-image: url('png/icon.png');
	background-repeat: no-repeat;
}