$pinkDark: #fc2d9c;
$blue: #ccc;

$womencolor: $pinkDark;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  &::before, &::after {
    box-sizing: border-box;
  }
  &::selection {
    background: lighten($womencolor, 30%);
  }
}

img {
  max-width: 100%;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
  &:active, &:hover {
    outline: none;
  }
}

.clearfix {
  &::after {
    content: " ";
    clear: both;
    display: table;
  }
}

.flex-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}


html {
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  font-variant: normal;
  font-family: $RR, sans-serif;
  font-size: 16px;
}

body {
  font-family: $RR, sans-serif;
  font-smoothing: antialiased;
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: $greyDark;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $pink;

  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button[disabled], html input[disabled] {
  cursor: default;
}

td, th {
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

optgroup {
  font-weight: bold;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  overflow: visible;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

//BEGIN input placeholder
input {
  &:focus {
    &:-ms-input-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
  }
}

//END input placeholder

ul {
  list-style-type: none;
}

h1, h2, h3, h4 { line-height: 1; margin: 0; }